/*******content************/
#content{
	display: inline-block;
	width: 940px;
	height: 1092px;
	margin-top: 20px;
	text-align: left;

	position: relative;
}

/**********category******/
#categoryBox{
	display: inline-block;
	width: 100%;
	height: 12px;

	margin: 15px 0px 15px 0px;

	text-align: left;
}

#categoryBox>a{
	line-height: 13px;
	font-size: 13px;
	margin-right: 32px;
	color: #818181;
}

/********recommend*****/
#recommendBox{
	display: inline-block;
	width: 100%;
	height: 179px;
}

#recommendActPic{
	display: inline-block;
	width: 697px;
}

#recommendDetailBox{
	display: inline-block;
	height: 100%;
	width: 211px;

	float: right;
}

#recDetailShow{
	display: inline-block;
	width: 100%;
	height: 139px;
}

#recActButtonBox{
	display: inline-block;
	width: 100%;
	height: 40px;

	text-align: center;

	background-repeat: repeat;
	background-image: url(../img/footerBg1.jpg);
}

#recActButtonBox>a{
	display: inline-block;
	width: 71px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color:#707070;

	border:1px solid #bebebe;
	background-color: #f4f4f4;
	margin:7px 10px;
}

/*********activity_List*********/

#activityListBox{
	display: inline-block;
	width: 100% ;
}
/************activity_Title*************/
#actListTitleBox{
	display: inline-block;
	height: 100%;
	width: 100%;

	background-image: url(../img/dotBG.jpg);
	background-repeat: repeat-x;

	margin:35px 0px 6px;
	padding-right: 30px;
}

#actListTitle{
	display: inline-block;
	height: 100%;
	background-color: #fff;
	padding-right: 15px;
}

#actListTitleKind{
	line-height: 32px;
	font-size: 32px;
	color: #595757;
}

#actListTitleName{
	line-height: 19px;
	font-size: 15px;
	color: #595757;
}
/*************activity_List_Body******/
#activityListBody{
	display: inline-block;
	width: 100%;
	height: 696px;
}

.actListEachLeft,
.actListEachRight{
	display: inline-block;
	height: 297px;
	width: 432px;
	margin-top: 32px;
	border-bottom: 1px solid #a0a0a0;
}
.actListEachLeft{
	float: left;
}
.actListEachRight{
	float: right;
}
.actListEachImg{
	width: 100%;
	height: 259px;
}

.actListEachBottom{
	display: inline-block;
	width: 100%;
	height: 38px;
	overflow: hidden;
}

.actListFunBox{
	display: inline-block;
	width: 120px;
	height: 30px;

	border-radius: 6px 6px 0px 0px;
	background-color: #888686;
	margin-top: 38px;
	vertical-align: text-top;
	text-align: center;
}
.actLearnMore{
	float: right;
	display: inline-block;
	height: 25px;
	vertical-align: text-top;
	margin: 14px 14px 0px 0px ;
}
.actLearnMoreP{
	display: inline-block;
	line-height: 25px;
	font-size: 13px;
	color: #a8a8a8;
	vertical-align: text-top;
}

.actLearnMoreIcon{
	display: inline-block;
	width: 17px;
	height: 25px;
	background-image: url(../img/leranMore.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: text-top;
}

.actListFunBox>a{
	display: inline-block;
	width: 18px;
	height: 15px;

	background-repeat: no-repeat;
	margin:9px 6px 0px;
}

.actFullScreen{
	background-image: url(../img/actFullScreen.jpg);
}
.actSave{
	background-image: url(../img/actSave.jpg);
}
.actRaley{
	background-image: url(../img/actRelay.jpg);
}
