html{
	height: 1052px;
}

#main{
	height: 717px;

	position: relative;
	border-bottom: solid #c9c9c9 6px;
}

#footer{
	top: 827px;
}

/*********menu******/
#menuHomeBottom{
	width: 0px;
}

#menuShowBox{
	width: 0px;
}

#menuShowUnderline{
	width: 0px;
	right: 970px;
}



/*******content******/

#content{
	display: inline-block;
	width: 100%;
}

#ctRow1{
	display: inline-block;
	width: 100%;
	height: 325px;

	position: relative;
	z-index: 1;
}

#ctRow1>a{
	display: inline-block;
	
	position: absolute;

	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#artCenter{
	background-image: url("../img/artCenter.jpg");
	width: 656px;
	height: 100%;

	left: 0px;
	top: 0px;
	
	overflow: hidden;
}

#creativeStudio{
	width: 261px;
	height: 100%;

	top: 0px;
	left: 658px;
	overflow: hidden;
	background-image: url(../img/create.jpg);
}

#communicate{
	display: inline-block;
	width: 78px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#communicate>a{
	display: inline-block;
	width: 100%;
	height: 78px;
	margin-bottom: 4px;
	
	position: relative;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#login{
	overflow: hidden;
	background-image: url(../img/login.jpg);
	margin-bottom: 5px!important;
}
#douban{
	overflow: hidden;
	background-image: url(../img/douban.jpg);
}
#weibo{
	overflow: hidden;
	background-image: url(../img/weibo.jpg);
}
#wechat{
	overflow: hidden;
	background-image: url(../img/wechat.jpg);
}

#ctRow2{
	display: inline-block;
	width: 100%;
	height: 262px;
	margin-top: 2px;

	position: relative;
}

#ctRow2>a,#ctRow2>div{
	display: inline-block;
	height: 100%;

	position: absolute;
	top: 0px;
}

#mainZone{
	width: 600px;
	left: 0px;
}

#mainZone>a{
	display: inline-block;
	width: 148px;
	height: 100%;

	position: absolute;
	overflow: hidden;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#theaterZone{
	background-image: url(../img/theater.jpg);
	left: 0px;
}
#artSpaceZone{
	background-image: url(../img/artspace.jpg);
	left: 150px;
}
#cafeZone{
	background-image: url(../img/cafe.jpg);
	left: 300px;
}
#workShopZone{
	background-image: url(../img/workshop.jpg);
	left: 450px;
}

#exchangeDiv{
	width: 156px;
	left: 601px;
}

#exchangeDiv>a{
	overflow: hidden;
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 2px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#interaction{
	height: 110px;
	background-image: url(../img/shequ.jpg);
}
#cooperate{
	height: 113px;
	background-image: url(../img/hezuo.jpg);
}
#contectDiv{
	height: 35px;
}

#contectDiv>a{
	overflow: hidden;
	display: inline-block;
	height: 100%;
	width: 77px;
	position: relative;
}

#contectByMagazine{
	background-color: #696969;
	margin-right: 2px;
	position: absolute;
	top: 0px;
	left: 0px;

	-webkit-background-size: 20px 17px;
	background-size: 20px 17px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/magazine.jpg);
}

#contectByPhone{
	background-color: #a1a1a1;
	position: absolute;
	top: 0px;
	right: 0px;

	-webkit-background-size: 9px 22px;
	background-size: 9px 22px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/phone.png);
}

#childrenZone{
	width: 240px;
	left:760px;
	overflow: hidden;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../img/children.jpg);
}

#adv{
	display: inline-block;
	width: 100%;
	height: 127px;
	position: relative;
}

#about403{
	position: absolute;
	top: 3px;
	bottom: 0px;
	left: 0px;

	display: inline-block;
	width: 148px;
	height: 125px;
	overflow: hidden;
	-webkit-background-size: 113px 114px;
	background-size: 113px 114px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/403Logo2.jpg);
}

#advShow{
	display: inline-block;
	height: 100%;
	width: 830px;

	position: absolute;
	overflow: hidden;
	top: 0px;
	right: 8px;
}

#toLeftDiv{
	display: inline-block;
	width: 18px;
	height: 100%;

	position: absolute;
	left: 0px;
	top: 0px;
}
#toLeft{
	display: inline-block;
	width: 100%;
	height: 50px;

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin:auto 0px;
	margin:38.5px 0px \9;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../img/toLeft.png);
}

#toRightDiv{
	display: inline-block;
	width: 18px;
	height: 100%;

	position: absolute;
	right: 0px;
	top: 0px;
}
#toRight{
	display: inline-block;
	width: 100%;
	height: 50px;

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin:auto 0px;
	margin:38.5px 0px \9;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../img/toRight.png);
}

#companyShowBox{
	display: inline-block;
	width: 780px;
	height: 113px;
	margin:7px;
	overflow: hidden;
	text-align: left;
	position: relative;
}
#companyShow{
	display: inline-block;
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;
}
.eachCompany{
	display: none;
	margin: 26px 12px 0px;
	vertical-align: text-top;
	height: 60px;
}

/********each hover**************/
.eachHover{
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	background-repeat: repeat;
	z-index: 10;
}
#artCenterHover{
	position: absolute;
	-webkit-background-size: 11px 11px;
	background-size: 11px 11px;
	background-image: url(../img/hover1.png);
}

#creativeStudioHover{
	position: absolute;
	-webkit-background-size: 11px 11px;
	background-size: 11px 11px;
	background-image: url(../img/hover2.png);
}

#loginHover{
	position: absolute;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #e84051;
	text-align: center;
}
#loginHover>p{
	margin:0px;
	line-height: 24px;
	font-size: 20px;
	color:#fff;
}
#loginP{
	margin-top: 20px!important;
}

#doubanHover{
	position: absolute;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/doubanHover.jpg);
}

#weiboHover{
	position: absolute;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/weiboHover.jpg);
}

#wechatHover{
	position: absolute;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/wechatHover.jpg);
}

#theaterZoneHover{
	position: absolute;
	-webkit-background-size: 11px 11px;
	-moz-background-size: 11px 11px;
	background-size: 11px 11px;
	background-image: url(../img/hover3.png);	
}
#artSpaceZoneHover{
	position: absolute;
	-webkit-background-size: 11px 11px;
	-moz-background-size: 11px 11px;
	background-size: 11px 11px;
	background-image: url(../img/hover4.png);	
}
#cafeZoneHover{
	position: absolute;
	-webkit-background-size: 11px 11px;
	-moz-background-size: 11px 11px;
	background-size: 11px 11px;
	background-image: url(../img/hover5.png);	
}
#workShopZoneHover{
	position: absolute;
	-webkit-background-size: 11px 11px;
	-moz-background-size: 11px 11px;
	background-size: 11px 11px;
	background-image: url(../img/hover6.png);	
}

#theaterZoneHoverImg{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0px;
	width: 148px;
	height: 261px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/theaterHover.png);	
}
#artSpaceZoneHoverImg{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0px;
	width: 146px;
	height: 261px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/artspaceHover.png);	
}
#cafeZoneHoverImg{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0px;
	width: 146px;
	height: 261px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/cafeHover.png);	
}
#workShopZoneHoverImg{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0px;
	width: 148px;
	height: 261px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-image: url(../img/workshopHover.png);	
}

#interactionHover{
	background-image: url(../img/hover9.png);
	position: absolute;
}
#cooperateHover{
	background-image: url(../img/hover10.png);
	position: absolute;
}
#interactionP,
#cooperateP,
#childrenZoneHoverP,
#about403HoverP,
#creativeStudioHoverP{
	position: absolute;
	left: 0px;
	right: 0px;

	height: 25px;
	margin:auto;
	line-height: 25px;
	font-size: 23px;
	color: #fff;
	z-index: 2;
	text-align: center;
}

#artCenterHoverP{
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 165px;
	right: 175px;

	height: 25px;
	width: 100px;
	margin:auto;
	line-height: 25px;
	font-size: 23px;
	color: #fff;
	z-index: 2;
}

#magazineHover{
	position: absolute;
	left:0px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #c660a1;
	z-index: 2;
	text-align: center;
}

#phoneHover{
	position: absolute;
	left:0px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #c0a555;
	z-index: 2;
}

#magazineHoverP,#phoneHoverP{
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	height: 13px;
	color: #fff;
}
#magazineHoverP{
	width: 56px;
	margin: 5px auto 0px;
}
#phoneHoverP{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
}

#childrenZoneHover{
	background-image: url(../img/hover11.png);
	position: absolute;
}

#about403Hover{
	position: absolute;
	background-image: url(../img/hover7.png);
}

.eachOver{
	display: inline-block;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}
