<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

</head>

<body>
    <div id="header">
        <div id="hdLeft"></div>
        <a href="javascript:void(0)" id="hdRight">
            <div id="hdRightShop1"></div>
            <div id="hdRightShop2"></div>
        </a>
    </div>
    <div id="main">
        <div id="menu">
            <div id="menuTop"></div>
            <div id="menuHome"></div>
            <div id="menuHomeBottom"></div>
            <div id="menuShowBox">
            	<div id="menuShow">
            		<a href="javascript:void(0)" id="index1">大师班</a>
            		<a href="javascript:void(0)" id="index2">儿童艺术</a>
            		<a href="javascript:void(0)" id="index3">艺术品商城</a>
            		<a href="javascript:void(0)" id="index4">互动社区</a>
            		<a href="javascript:void(0)" id="index5">合作专区</a>
            		<a href="javascript:void(0)" id="index6">关于403</a>
            		<a href="javascript:void(0)" id="index7">红椅子</a>
            		<a href="javascript:void(0)" id="index8">漫行</a>
            		<a href="javascript:void(0)" id="index9">留白</a>
            		<a href="javascript:void(0)" id="index10">愿望</a>
            	</div>
            	<div id="menuShowUnderline"></div>
            </div>
        </div>
        <div id="content">
            <div id="ctRow1">
                <a href="javascript:void(0)" id="artCenter">
                	<div class="eachHover" id="artCenterHover">
                		<p id="artCenterHoverP">表演艺术</p>
                	</div>
                </a>
                <a href="javascript:void(0)" id="creativeStudio">
                	<div class="eachHover" id="creativeStudioHover">
                		<p id="creativeStudioHoverP">创作营</p>
                	</div>
                </a>
                <div id="communicate">
                    <a href="avascript:void(0)" id="login">
                    	<div id="loginHover">
                    		<p id="loginP">登陆</p>
                    		<p id="regesterP">注册</p>
                    	</div>
                    </a>
                    <a href="avascript:void(0)" id="douban">
                    	<div id="doubanHover"></div>
                    </a>
                    <a href="avascript:void(0)" id="weibo">
                    	<div id="weiboHover"></div>
                    </a>
                    <a href="avascript:void(0)" id="wechat">
                    	<div id="wechatHover"></div>
                    </a>
                </div>
            </div>
            <div id="ctRow2">
                <div id="mainZone">
                    <a href="javascript:void(0)" id="theaterZone">
                    	<div class="eachHover" id="theaterZoneHover">
                    		<div id="theaterZoneHoverImg"></div>
                    	</div>
                    </a>
                    <a href="javascript:void(0)" id="artSpaceZone">
                    	<div class="eachHover" id="artSpaceZoneHover">
                    		<div id="artSpaceZoneHoverImg"></div>
                    	</div>
                    </a>
                    <a href="javascript:void(0)" id="cafeZone">
                    	<div class="eachHover" id="cafeZoneHover">
                    		<div id="cafeZoneHoverImg"></div>
                    	</div>
                    </a>
                    <a href="javascript:void(0)" id="workShopZone">
                    	<div class="eachHover" id="workShopZoneHover">
                    		<div id="workShopZoneHoverImg"></div>
                    	</div>
                    </a>
                </div>
                <div id="exchangeDiv">
                    <a href="javascript:void(0)" id="interaction">
                    	<div class="eachHover" id="interactionHover">
                    		<p id="interactionP">互动社区</p>
                    	</div>
                    </a>
                    <a href="javascript:void(0)" id="cooperate">
                    	<div class="eachHover" id="cooperateHover">
                    		<p id="cooperateP">合作专区</p>
                    	</div>
                    </a>
                    <div id="contectDiv">
                    	<a href="javascript:void(0)" id="contectByMagazine">
                    		<div id="magazineImg"></div>
                    		<div id="magazineHover">
                    			<p id="magazineHoverP">电子杂志订阅</p>
                    		</div>
                    	</a>
                    	<a href="javascript:void(0)" id="contectByPhone">
                    		<div id="phoneImg"></div>
                    		<div id="phoneHover">
                    			<p id="phoneHoverP">手机版</p>
                    		</div>
                    	</a>
                    </div>
                </div>
                <div id="childrenZone">
                	<div class="eachHover" id="childrenZoneHover">
                		<p id="childrenZoneHoverP">儿童艺术</p>
                	</div>
                </div>
            </div>
        </div>
        <div id="adv">
        	<a href="javascript:void(0)" id="about403">
        		<div class="eachHover" id="about403Hover">
        			<p id="about403HoverP">关于403</p>
        		</div>
        	</a>
        	<div id="advShow">
        		<div id="toLeftDiv">
        			<a href="javascript:void(0)" id="toLeft"></a>
        		</div>
        		<div id="eachCompany"></div>
        		<div id="toRightDiv">
        			<a href="javascript:void(0)" id="toRight"></a>
        		</div>
        	</div>
        </div>
    </div>
    <div id="footer">
    	<div id="footMain">
    		<div id="ftCode"></div>
    		<div id="ftRight">
    			<div id="ftAbout403">
    				<div id="ftContectNum"></div>
    				<div id="ftContectZite">
    					<p>广西新影响文化投资集团有限公司 </p>
    					<p>湖北九歌山水文化传媒有限公司</p>
    					<p>湖北省鄂西生态文化旅游圈投资有限公司 </p>
    				</div>
    			</div>
    			<div id="copyRightDiv">
    				<a id="copyright">Copyright&nbsp&nbsp2014-2015&nbsp&nbsp403art&nbsp&nbsp&nbspAll Rights&nbspReserved&nbsp&nbsp鄂 ICP备****号</a>
    			</div>
    		</div>
    	</div>
    </div>
    <script type="text/javascript" rel="script" src="../static/js/index.js"></script>
</body>

</html>
