<!DOCTYPE HTML>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" />
    <!--[if lte IE 8]>
   	 	<link type="text/css" rel="stylesheet" href="../static/css/indexIE8.css" />
    <![endif]-->
    <!--[if  gt IE 8]>
   	 	<link type="text/css" rel="stylesheet" href="../static/css/indexNotIE8.css" />
    <![endif]-->
    <!--[if !IE]><!-->
		<link type="text/css" rel="stylesheet" href="../static/css/indexNotIE8.css" />
     <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE">

</head>

<body>
    <div id="main">
        <div id="menu">
            <div id="menuTop"></div>
            <a  id="menuHome"></a>
            <div id="menuHomeBottom"></div>
            <div id="menuShowBox">
            	<div id="menuShow">
            		<a href="./performingArt.html" id="index1">表演艺术</a>
                    <a href="./publicEvent.html" id="index2">公共活动</a>
                    <a href="./masterClass.html" id="index3">大师班</a>
                    <a href="./childrenArt.html" id="index4">儿童艺术</a>
                    <a href="./interact403.html" id="index5">互动403</a>
            	</div>
            	<div id="menuShowUnderline"></div>
            </div>
        </div>
		<div id="content">
		    <div id="ctRow1">
		        <a href="./performingArt.html" id="artCenter">
		        	<div class="eachHover" id="artCenterHover">
		        		<p id="artCenterHoverP">表演艺术</p>
		        	</div>
		        	<div id="artCenterOver" class="eachOver"></div>
		        </a>
		        <a href="javascript:void(0)" id="creativeStudio">
		        	<div class="eachHover" id="creativeStudioHover">
		        		<p id="creativeStudioHoverP">创作营</p>
		        	</div>
		        	<div id="creativeStudioOver" class="eachOver"></div>
		        </a>
		        <div id="communicate">
		            <a href="javascript:void(0)" id="login">
		            	<div id="loginHover">
		            		<p id="loginP">登陆</p>
		            		<p id="regesterP">注册</p>
		            	</div>
		            	<div id="loginOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="douban">
		            	<div id="doubanHover"></div>
		            	<div id="doubanOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="weibo">
		            	<div id="weiboHover"></div>
		            	<div id="weiboOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="wechat">
		            	<div id="wechatHover"></div>
		            	<div id="wechatOver" class="eachOver"></div>
		            </a>
		        </div>
		    </div>
		    <div id="ctRow2">
		        <div id="mainZone">
		            <a href="javascript:void(0)" id="theaterZone">
		            	<div class="eachHover" id="theaterZoneHover">
		            		<div id="theaterZoneHoverImg"></div>
		            	</div>
		            	<div id="theaterZoneOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="artSpaceZone">
		            	<div class="eachHover" id="artSpaceZoneHover">
		            		<div id="artSpaceZoneHoverImg"></div>
		            	</div>
		            	<div id="artSpaceZoneOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="cafeZone">
		            	<div class="eachHover" id="cafeZoneHover">
		            		<div id="cafeZoneHoverImg"></div>
		            	</div>
		            	<div id="cafeZoneOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="workShopZone">
		            	<div class="eachHover" id="workShopZoneHover">
		            		<div id="workShopZoneHoverImg"></div>
		            	</div>
		            	<div id="workShopZoneOver" class="eachOver"></div>
		            </a>
		        </div>
		        <div id="exchangeDiv">
		            <a href="javascript:void(0)" id="interaction">
		            	<div class="eachHover" id="interactionHover">
		            		<p id="interactionP">互动社区</p>
		            	</div>
		            	<div id="interactionOver" class="eachOver"></div>
		            </a>
		            <a href="javascript:void(0)" id="cooperate">
		            	<div class="eachHover" id="cooperateHover">
		            		<p id="cooperateP">合作专区</p>
		            	</div>
		            	<div id="cooperateOver" class="eachOver"></div>
		            </a>
		            <div id="contectDiv">
		            	<a href="javascript:void(0)" id="contectByMagazine">
		            		<div id="magazineHover">
		            			<p id="magazineHoverP">电子杂志订阅</p>
		            		</div>
		            		<div id="contectByMagazineOver" class="eachOver"></div>
		            	</a>
		            	<a href="javascript:void(0)" id="contectByPhone">
		            		<div id="phoneHover">
		            			<p id="phoneHoverP">手机版</p>
		            		</div>
		            		<div id="contectByPhoneOver" class="eachOver"></div>
		            	</a>
		            </div>
		        </div>
		        <a href="javascript:void(0)" id="childrenZone">
		        	<div class="eachHover" id="childrenZoneHover">
		        		<p id="childrenZoneHoverP">儿童艺术</p>
		        	</div>
		        	<div id="childrenZoneOver" class="eachOver"></div>
		        </a>
		    </div>
		</div>
		<div id="adv">
			<a href="javascript:void(0)" id="about403">
				<div class="eachHover" id="about403Hover">
					<p id="about403HoverP">关于403</p>
				</div>
				<div id="about403Over" class="eachOver"></div>
			</a>
			<div id="advShow">
				<div id="toLeftDiv">
					<a href="javascript:void(0)" id="toLeft"></a>
				</div>
				<div id="companyShowBox">
					<div id="companyShow"></div>
				</div>
				<div id="toRightDiv">
					<a href="javascript:void(0)" id="toRight"></a>
				</div>
			</div>
		</div>
    </div>
    <div id="header">
        <div id="hdLeft"></div>
        <div id="hdRight">
            <img src="../static/img/shop1.png" usemap="#buyMap" id="hdRightShop0">
            <img src ="../static/img/shop2.png" usemap="#buyMap" id="hdRightShop1">
			<map name="buyMap" id="buyMap">
				<area
				shape="circle"
				coords="60,60,60"
				href ="http://www.baidu.com"
				target ="_blank" />
			</map>
        </div>
    </div>
    <div id="footer">
    	<div id="footerUp">
    		<div id="footerUpMain">
    			<img src="../static/img/code.jpg" id="ftCode">
    			<div id="ftAbout403">
    				<div id="ftContectZite">
    					<p>湖北九歌山水文化传媒有限公司</p>
    					<p>广西新影响文化投资集团有限公司 </p>
    					<p>湖北省鄂西生态文化旅游圈投资有限公司 </p>
    				</div>
    				<img src="../static/img/contect.png" id="ftContectNum">
    			</div>
    		</div>
    	</div>
    	<div id="footerDown">
    		<div id="footerDownMain">
    			<a href="javascript:void(0)" class="ftDownLink" id="ftCooperate">
    				<div class="ftDownLinkIcon"></div>
    				<p class="ftDownLinkP">合作专区</p>
    			</a>
    			<a href="javascript:void(0)" class="ftDownLink" id="ftAboutUs">
    				<div class="ftDownLinkIcon"></div>
    				<p class="ftDownLinkP">关于我们 </p>
    			</a>
    			<a href="javascript:void(0)" class="ftDownLink" id="ftTerms">
    				<div class="ftDownLinkIcon"></div>
    				<p class="ftDownLinkP">服务条款</p>
    			</a>
    			<a href="javascript:void(0)" class="ftDownLink" id="ftCopyRight">
    				<div class="ftDownLinkIcon"></div>
    				<p class="ftDownLinkP">网站授权</p>
    			</a>
    			<a href="javascript:void(0)" class="ftDownLink" id="ftNavigate">
    				<div class="ftDownLinkIcon"></div>
    				<p class="ftDownLinkP">网站地图</p>
    			</a>
    		</div>
    		<p id="footerDownCopyRight">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCopyright 2014-2015  403art   All Rights Reserved   鄂 ICP备****号</p>
    	</div>
    </div>
    <script type="text/javascript" rel="script" src="../static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/setCss.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/indexMenu.js"></script>
    <!--[if gte IE 9]>
   	 	<script type="text/javascript" rel="script" src="../static/js/indexHoverIE9+.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
   	 	<script type="text/javascript" rel="script" src="../static/js/indexHoverIE8.js"></script>
    <![endif]-->
    <!--[if !IE]><!-->
		<script type="text/javascript" rel="script" src="../static/js/indexHover.js"></script>
     <!--<![endif]-->
    <script type="text/javascript" rel="script" src="../static/js/commonBuy.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/indexCompanyList.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/indexOnload.js"></script>
</body>

</html>
