<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

</head>

<body>
    <div class="header">
        <div class="hdLeft"></div>
        <div class="hdRight">
            <div class="hdRightShop1"></div>
            <div class="hdRightShop2"></div>
        </div>
    </div>
    <div class="main">
        <div class="menu">
            <div class="menuTop"></div>
            <div class="menuHome"></div>
        </div>
        <div class="content">
            <div class="ctRow1">
                <a href="javascript:void(0)" class="artCenter"></a>
                <a href="javascript:void(0)" class="creativeStudio"></a>
                <div class="communicate">
                    <a href="avascript:void(0)" class="login"></a>
                    <a href="avascript:void(0)" class="douban"></a>
                    <a href="avascript:void(0)" class="weibo"></a>
                    <a href="avascript:void(0)" class="wechat"></a>
                </div>
            </div>
            <div class="ctRow2">
                <div class="mainZone">
                    <a href="javascript:void(0)" class="theaterZone"></a>
                    <a href="javascript:void(0)" class="artSpaceZone"></a>
                    <a href="javascript:void(0)" class="cafeZone"></a>
                    <a href="javascript:void(0)" class="workShopZone"></a>
                </div>
                <div class="exchangeDiv">
                    <a href="javascript:void(0)" class="interaction"></a>
                    <a href="javascript:void(0)" class="cooperate"></a>
                    <div class="contectDiv">
                    	<a href="javascript:void(0)" class="contectByMagazine"><div></div></a>
                    	<a href="javascript:void(0)" class="contectByPhone"><div></div></a>
                    </div>
                </div>
                <div class="childrenZone"></div>
            </div>
        </div>
        <div class="adv">
        	<a href="javascript:void(0)" class="about403"></a>
        	<div class="advShow">
        		<div class="toLeftDiv">
        			<a href="javascript:void(0)" class="toLeft"></a>
        		</div>
        		<div class="eachCompany"></div>
        		<div class="toRightDiv">
        			<a href="javascript:void(0)" class="toRight"></a>
        		</div>
        	</div>
        </div>
    </div>
    <div class="footer">
    	<div class="footMain">
    		<div class="ftCode"></div>
    		<div class="ftRight">
    			<div class="ftAbout403">
    				<div class="ftContectNum"></div>
    				<div class="ftContectZite">
    					<p>广西新影响文化投资集团有限公司 </p>
    					<p>湖北九歌山水文化传媒有限公司</p>
    					<p>湖北省鄂西生态文化旅游圈投资有限公司 </p>
    				</div>
    			</div>
    			<div class="copyRightDiv">
    				<a class="copyright">Copyright&nbsp&nbsp2014-2015&nbsp&nbsp403art&nbsp&nbsp&nbspAll Rights&nbspReserved&nbsp&nbsp鄂 ICP备****号</a>
    			</div>
    		</div>
    	</div>
    </div>
    <script type="text/javascript" rel="script" src="../static/js/index.js"></script>
</body>

</html>
