<!DOCTYPE HTML>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/common2.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/activity.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/performingArt.css" />
    <!--[if lte IE 8]>
    <![endif]-->
    <!--[if  gt IE 8]>
    <![endif]-->
    <!--[if !IE]><!-->
     <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE">
</head>

<body>
    <div id="main">
        <div id="menu">
            <div id="menuTop"></div>
            <a href="./index.html" id="menuHome"></a>
            <div id="menuHomeBottom"></div>
            <div id="menuShowBox">
                <div id="menuShow">
                    <a href="javascript:void(0)" id="index1">表演艺术</a>
                    <a href="./publicEvent.html" id="index2">公共活动</a>
                    <a href="./masterClass.html" id="index3">大师班</a>
                    <a href="./childrenArt.html" id="index4">儿童艺术</a>
                    <a href="./interact403.html" id="index5">互动403</a>
                </div>
                <div id="menuShowUnderline"></div>
            </div>
        </div>
        <div id="navigate">
            <div id="webPosition">
                <a href="./index.html" class="posOrigin">首页</a>
                <a href="javascript:void(0)" class="posTo">></a>
                <a href="javascript:void(0)" class="posOrigin">表演艺术</a>
            </div>
            <div id="actKindChoice">
                <a href="javascript:void(0)" id="lastAct">近期活动</a>
                <a href="javascript:void(0)" id="overAct">过往活动</a>
            </div>
        </div>
        <div id="content">
            <div id="categoryBox">
                <a href="javascript:void(0)" id="category1">类别1</a>
                <a href="javascript:void(0)" id="category2">类别2</a>
                <a href="javascript:void(0)" id="category3">类别3</a>
                <a href="javascript:void(0)" id="category4">类别4</a>
            </div>
            <div id="recommendBox">
                <img src="../static/img/perArtRec.jpg"  id="recommendActPic"/>
                <div id="recommendDetailBox">
                    <div id="recDetailShow" style="background-image:url(../static/img/perArtRec.jpg)"></div>
                    <div id="recActButtonBox">
                        <a href="javascript:void(0)" id="recBookButton">在线订票</a>
                        <a href="javascript:void(0)" id="recRelay">一键转发</a>
                    </div>
                </div>
            </div>
            <div id="activityListBox">
                <div id="actListTitleBox">
                    <div id="actListTitle">
                        <span id="actListTitleKind">近期</span>
                        <span id="actListTitleName">表演艺术</span>
                    </div>
                </div>
                <div id="activityListBody">
                    <div class="actListEachLeft">
                        <img src="../static/img/actList1.jpg" alt="" class="actListEachImg">
                        <div class="actListEachBottom">
                            <div class="actListFunBox">
                                <a href="javascript:void(0)" class="actFullScreen"></a>
                                <a href="javascript:void(0)" class="actSave"></a>
                                <a href="javascript:void(0)" class="actRaley"></a>
                            </div>
                            <a href="javascript:void(0)"  class="actLearnMore">
                                <span class="actLearnMoreP">了解更多</span>
                                <div class="actLearnMoreIcon"></div>
                            </a>
                        </div>
                    </div>
                    <div class="actListEachRight">
                        <img src="../static/img/actList2.jpg" alt="" class="actListEachImg">
                        <div class="actListEachBottom">
                            <div class="actListFunBox">
                                <a href="javascript:void(0)" class="actFullScreen"></a>
                                <a href="javascript:void(0)" class="actSave"></a>
                                <a href="javascript:void(0)" class="actRaley"></a>
                            </div>
                            <a href="javascript:void(0)"  class="actLearnMore">
                                <span class="actLearnMoreP">了解更多</span>
                                <div class="actLearnMoreIcon"></div>
                            </a>
                        </div>
                    </div>
                    <div class="actListEachLeft">
                        <img src="../static/img/actList3.jpg" alt="" class="actListEachImg">
                        <div class="actListEachBottom">
                            <div class="actListFunBox">
                                <a href="javascript:void(0)" class="actFullScreen"></a>
                                <a href="javascript:void(0)" class="actSave"></a>
                                <a href="javascript:void(0)" class="actRaley"></a>
                            </div>
                            <a href="javascript:void(0)"  class="actLearnMore">
                                <span class="actLearnMoreP">了解更多</span>
                                <div class="actLearnMoreIcon"></div>
                            </a>
                        </div>
                    </div>
                    <div class="actListEachRight">
                        <img src="../static/img/actList4.jpg" alt="" class="actListEachImg">
                        <div class="actListEachBottom">
                            <div class="actListFunBox">
                                <a href="javascript:void(0)" class="actFullScreen"></a>
                                <a href="javascript:void(0)" class="actSave"></a>
                                <a href="javascript:void(0)" class="actRaley"></a>
                            </div>
                            <a href="javascript:void(0)"  class="actLearnMore">
                                <span class="actLearnMoreP">了解更多</span>
                                <div class="actLearnMoreIcon"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="actPlaceBox">
                <a href="./theater.html" id="actPlaceTheater"></a>
                <a href="./artSpace.html" id="actPlaceArtSpace"></a>
                <a href="./cafeBar.html" id="actPlaceCafeBar"></a>
                <a href="./workShop.html" id="actPlaceWorkShop"></a>
            </div>
        </div>
    </div>
    
    <div id="header">
        <div id="hdLeft"></div>
        <div id="hdRight">
            <img src="../static/img/shop1.png" usemap="#buyMap" id="hdRightShop0">
            <img src ="../static/img/shop2.png" usemap="#buyMap" id="hdRightShop1">
            <map name="buyMap" id="buyMap">
                <area
                shape="circle"
                coords="60,60,60"
                href ="http://www.baidu.com"
                target ="_blank" />
            </map>
        </div>
    </div>
    <div id="footer">
        <div id="footerUp">
            <div id="footerUpMain">
                <img src="../static/img/code.jpg" id="ftCode">
                <div id="ftAbout403">
                    <div id="ftContectZite">
                        <p>湖北九歌山水文化传媒有限公司</p>
                        <p>广西新影响文化投资集团有限公司 </p>
                        <p>湖北省鄂西生态文化旅游圈投资有限公司 </p>
                    </div>
                    <img src="../static/img/contect.png" id="ftContectNum">
                </div>
            </div>
        </div>
        <div id="footerDown">
            <div id="footerDownMain">
                <a href="./cooperationArea.html" class="ftDownLink" id="ftCooperate">
                    <div class="ftDownLinkIcon"></div>
                    <p class="ftDownLinkP">合作专区</p>
                </a>
                <a href="javascript:void(0)" class="ftDownLink" id="ftAboutUs">
                    <div class="ftDownLinkIcon"></div>
                    <p class="ftDownLinkP">关于我们 </p>
                </a>
                <a href="javascript:void(0)" class="ftDownLink" id="ftTerms">
                    <div class="ftDownLinkIcon"></div>
                    <p class="ftDownLinkP">服务条款</p>
                </a>
                <a href="javascript:void(0)" class="ftDownLink" id="ftCopyRight">
                    <div class="ftDownLinkIcon"></div>
                    <p class="ftDownLinkP">网站授权</p>
                </a>
                <a href="javascript:void(0)" class="ftDownLink" id="ftNavigate">
                    <div class="ftDownLinkIcon"></div>
                    <p class="ftDownLinkP">网站地图</p>
                </a>
            </div>
            <p id="footerDownCopyRight">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCopyright 2014-2015  403art   All Rights Reserved   鄂 ICP备****号</p>
        </div>
    </div>
    <script type="text/javascript" rel="script" src="../static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/commonMenu.js"></script>
    <!--[if gte IE 9]>
    <![endif]-->
    <!--[if lte IE 8]>
    <![endif]-->
    <!--[if !IE]><!-->
     <!--<![endif]-->
    <script type="text/javascript" rel="script" src="../static/js/commonBuy.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/activity.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/performingArtOnload.js"></script>
</body>

</html>